.idea/
/app/checkpoints/
/data/
__pycache__/
/wandb/
/experiments/classifier_experiments/
/experiments/.env
/app/.env
training/datasets/
training/checkpoints/
/training/wandb/
/training/.env
experiments/article_annotation/*.jsonl
experiments/article_annotation/results/*.jsonl
experiments/article_annotation/*.json
experiments/article_annotation/results/*.json

