.idea/
/app/checkpoints/
/data/
__pycache__/
/wandb/
/experiments/classifier_experiments/
/experiments/.env
/app/.env
training/datasets/
training/checkpoints/
/training/wandb/
/training/.env
experiments/article_annotation/**/*.jsonl
experiments/article_annotation/results/**/*.jsonl
experiments/article_annotation/**/*.json
experiments/article_annotation/results/**/*.json
experiments/article_annotation/logs/
datasets/

training/results/*
!training/results/**/*.ipynb
../(archived) initial_classifier/.amlignore
../(archived) initial_classifier/.amlignore.amltmp
../.amlignore
../.amlignore.amltmp
../.gitignore.swo
../.gitignore.swp
../app/.amlignore
../app/.amlignore.amltmp
../experiments/.amlignore
../experiments/.amlignore.amltmp
../experiments/article_annotation.zip
../experiments/article_annotation/.amlignore
../experiments/article_annotation/.amlignore.amltmp
../experiments/article_annotation/article_labeling_using_chatgpt_2.0.py.amltmp
../experiments/article_annotation/results/.amlignore
../experiments/article_annotation/results/.amlignore.amltmp
../experiments/article_annotation/results/test_run_a/.amlignore
../experiments/article_annotation/results/test_run_a/.amlignore.amltmp
.amlignore
.amlignore.amltmp
.env.ipynb.amltmp
.ipynb_aml_checkpoints/
data/.amlignore
data/.amlignore.amltmp
utils/.amlignore
utils/.amlignore.amltmp
../.gitignore.amltmp
../.gitignore.swo
../.gitignore.swp
../experiments/article_annotation.zip
../experiments/article_annotation/article_labeling_using_chatgpt_2.0.py.amltm
testing_app/checkpoint
deliverables/entity_networks_master/
deliverables/tic_checkpoints/
deliverables/.env
deliverables/data